# === Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/logs/
*.log
*.tmp

# === Java ===
*.class
*.jar
*.war
*.ear
*.hprof

# === IntelliJ IDEA ===
.idea/
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/

# === Eclipse ===
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

# === NetBeans ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# === VS Code ===
.vscode/

# === OS: macOS ===
.DS_Store

# === OS: Windows ===
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# === General basura de sistema ===
*.swp
*.bak
*.tmp
*.orig
*.rej
*.swo
